html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #0f3d2e;
}
